name: Documentation

on:
  push:
    branches:
      - main
    tags: '*'
  pull_request:
  
jobs:
  call:
    uses: control-toolbox/CTActions/.github/workflows/documentation.yml@main
    with:
      use_ct_registry: true
    secrets:
      SSH_KEY: ${{ secrets.SSH_KEY }}
